@import '../../theme/palette';

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    padding: 15px;
    background-color: $paletteColor3;

    .postEnter {
        opacity: .01;
    }

    .postEnterActive {
        transition: opacity 300ms ease-in;
        opacity: 1;
    }
}
