@import '../../theme/palette';

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: $paletteColor3;

    .postEnter {
        opacity: 0.01;
    }

    .postEnterActive {
        transition: opacity 1000ms ease-in;
        opacity: 1;
    }

    .postAppear {
        opacity: 0.01;
    }

    .postAppearActive {
        transition: opacity 1000ms ease-in;
        opacity: 1;
    }

    .postDelete {
        opacity: 1;
    }

    .postDeleteActive {
        transition: opacity 1000ms ease-in;
        opacity: 0.01;
    }
}
