@import '../../theme/palette';

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    background-color: $paletteColor3;
}
