@import '../../theme/palette';

.list {
    display: grid;
    background-color: $paletteColor2;
    grid-gap: 20px;
    grid-auto-rows: minmax(125px, auto);
    margin: 20px;
}

@media screen and (min-width: 65em) {
    .list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

