@import '../../theme/palette';

.list {
    display: grid;
    margin: 20px;
    background-color: $paletteColor2;
    grid-gap: 20px;
    grid-auto-rows: minmax(125px, auto);
}

@media screen and (min-width: 65em) {
    .list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;

    button {
        flex: 1 1 100%;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        border-width: 0;
        border-radius: 2px;
        outline: none;
        background-color: $paletteColor5;
        box-shadow: 0 1px 4px rgba($paletteColor1, .6);
        color: $paletteColor2;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            background-color: $paletteColor4;
        }

        &:active {
            background-color: $paletteColor8;
        }
    }
}

