$paletteColor1: #000;
$paletteColor2: #FFF;
$paletteColor3: #E9EBEE;
$paletteColor4: #808080;
$paletteColor5: #90949C;
$paletteColor6: #4267B2;
$paletteColor7: #EEEEEE;
$paletteColor8: #282828;
$buttonGreen: #4CAF50;
$buttonGreenLight: #4bb83f;
$buttonPink: #e930e3;
$buttonPinkLight: #eb55e6;
