$paletteColor1: #000;
$paletteColor2: #FFF;
$paletteColor3: #D696E1;
$paletteColor4: #BA68C8;
$paletteColor5: #9C43AB;
$paletteColor6: #F3A0C0;
$paletteColor7: #E977A3;
$paletteColor8: #DE5489;
$paletteColor9: #FFF082;

